build/

# Clang formatting is completely disabled.
.clang-format
# Contains compiler-specific flags.
compile_flags.txt

# User configuration files.
.vim/
.vimrc
CMakeLists.txt.user

# Saved workflow session.
.session.vim

setup-env.sh
